/* LoginPage.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: 100%;
    background-image: url('../img/bg_vector_bg.jpg');
  }
  
  .login-container h2 {
    font-size: 2vw;
    margin-bottom: 1.5vw;
    color: #333;
  }
  
  .login-container input {
    width: 80%;
    max-width: 40vw;
    padding: 0.75vw;
    margin-bottom: 1vw;
    border: 1vw solid #ccc;
    border-radius: 0.5vw;
    font-size: 4vw;
  }
  
  .login-container input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-container button {
    width: 80%;
    max-width: 20vw;
    padding: 0.75vw;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  