.parent {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 6fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
}

.header {
	grid-area: 1 / 1 / 2 / 3;
	background-color: rgb(1, 57, 1);
}

.game {
	grid-area: 2 / 1 / 3 / 2;
	background-color: rgb(2, 2, 58);
}

.chat {
	grid-area: 2 / 2 / 3 / 3;
	background-color: rgb(68, 2, 2);
}
