.parent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15% 85%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
}

.header, .game, .chat {
	width: 100%;
	height: 100%;
}

.header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgb(1, 57, 1);
	/* WIDTH */
	min-width: 100vw;
	max-width: 100vw;
	/* HEIGHT */
	min-height: 10vh;
	max-height: 15vh;
}

.game {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(2, 2, 58);
	/* WIDTH */
	min-width: 75vw;
	max-width: 75vw;
	/* HEIGHT */
	min-height: 70vh;
	max-height: 85vh;
}

.chat {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(68, 2, 2);
	/* WIDTH */
	min-width: 25vw;
	max-width: 25vw;
	/* HEIGHT */
	min-height: 70vh;
	max-height: 85vh;
}
