.game-manager-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.game-controls {
	flex: 0 0 50px; /* Adjust height as needed */
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(163 124 53);
	padding: 10px;
}

.game-controls button {
	background-color: rgb(103 109 17);
	color: rgb(40, 39, 39);
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.game-content {
	flex: 1;
	overflow-y: auto;
	background-color: rgb(103 109 17);
}
