.Tabs {
	font-family: sans-serif;
	text-align: center;
  }
  
  .tab-container {
	display: flex;
	height: 85vh;
	max-height: 85vh;
  }
  
  .tab-sections {
	display: flex;
	flex-direction: column;
	height: 85vh;
	max-height: 85vh;
	width: 250px;
	overflow-y: auto;
  }
  
  .tab-section {
	height: 42.5vh;
	min-height: 42.5vh;
	max-height: 42.5vh;
  }
  
  .tab-header {
	font-weight: bold;
	height: 2.5vh;
	min-height: 2.5vh;
	max-height: 2.5vh;
  }
  
  .tab-buttons {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 40.0vh;
	min-height: 40.0vh;
	max-height: 40.0vh;
  }
  
  .tab-button {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	background-color: #000000;
	position: relative;
	text-align: left;
  }
  
  .tab-button.active {
	background-color: #ff0000;
  }
  
  .tab-button .close-button {
	margin-left: 10px;
	cursor: pointer;
  }
  
  .add-tab-button {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	background-color: #000000;
  }
  
  .tab-content {
	flex-grow: 1;
	border: 1px solid #ccc;
	padding: 20px;
	height: 85vh;
	min-height: 85vh;
	max-height: 85vh;
	background-color: #000000;
	text-align: left;
	overflow-y: auto;
  }
  