@import url('../maincssroot.css');

:root {
	--tabs_container_height: 100%;
	--tabs_sections_height: 100%;
	--tabs_sect_height: 50%;
	--tabs_header_height: 5%;
	--tabs_btns_height: 85%;
	--tabs_add_height: 100%;
	--tabs_add_tab_form: 10%;
	--tabs_content_height: 100%;
	--tabs_chat_container_height: 95%;
	--tabs_message_input_height: 5%;
}

.Tabs {
	font-family: sans-serif;
	text-align: center;
	height: var(--maingrid_content_height);
	min-height: var(--maingrid_content_height);
	max-height: var(--maingrid_content_height);
}

.tab-container {
	display: flex;
	height: var(--tabs_container_height);
	max-height: var(--tabs_container_height);
}

.tab-sections {
	display: flex;
	flex-direction: column;
	height: var(--tabs_sections_height);
	max-height: var(--tabs_sections_height);
	width: 250px;
	overflow-y: auto;
}

.tab-section {
	border: 1px solid #ccc;
	height: var(--tabs_sect_height);
	min-height: var(--tabs_sect_height);
	max-height: var(--tabs_sect_height);
}

.tab-header {
	font-weight: bold;
	height: var(--tabs_header_height);
	min-height: var(--tabs_header_height);
	max-height: var(--tabs_header_height);
}

.tab-buttons {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: var(--tabs_btns_height);
	min-height: var(--tabs_btns_height);
	max-height: var(--tabs_btns_height);
}

.tab-button {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	background-color: #000000;
	position: relative;
	text-align: left;
}

.tab-button.active {
	background-color: #ff0000;
}

.tab-button .close-button {
	margin-left: 10px;
	cursor: pointer;
}

.add-tab-form {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr;
	height: var(--tabs_add_tab_form);
	min-height: var(--tabs_add_tab_form);
	max-height: var(--tabs_add_tab_form);
}

.add-tab-form input {
	grid-column: 1/2;
	height: var(--tabs_add_height);
	min-height: var(--tabs_add_height);
	max-height: var(--tabs_add_height);
}

.add-tab-form button {
	grid-column: 2/3;
	cursor: pointer;
	border: 1px solid #ccc;
	background-color: #000000;
	height: var(--tabs_add_height);
	min-height: var(--tabs_add_height);
	max-height: var(--tabs_add_height);
}

.tab-content {
	border: 1px solid #ccc;
	padding: 20px;
	height: var(--tabs_content_height);
	min-height: var(--tabs_content_height);
	max-height: var(--tabs_content_height);
	background-color: #000000;
}

.chat-container {
	flex-grow: 1;
	height: var(--tabs_chat_container_height);
	min-height: var(--tabs_chat_container_height);
	max-height: var(--tabs_chat_container_height);
	text-align: left;
	overflow-y: auto;
}

.message-input {
	height: var(--tabs_message_input_height);
	min-height: var(--tabs_message_input_height);
	max-height: var(--tabs_message_input_height);
}

.message-input-textbox {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}
