@import url('../maincssroot.css');

.main-header {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: left;
	align-items: center; /* Centers items vertically */
	background-color: #005289;
	/* padding: 10px 20px; */
	/* border-bottom: 10px solid #747474; */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* margin-bottom: 10px; */
	flex-wrap: wrap; /* Allows wrapping on small screens */
	height: var(--maingrid_header_height);
	min-height: var(--maingrid_header_height);
	max-height: var(--maingrid_header_height);
	background-size: 100%;
    background-image: url('../bg_vector.jpg');
}

.header-content {
	display: flex;
	align-items: center; /* Centers items vertically */
	flex-wrap: wrap; /* Allows wrapping on small screens */
}

.header-logo img {
	height: 10vh; /* Scales height relative to viewport */
	/* margin-right: 15px;
	margin-top: 15px; */
}

.header-title {
	display: flex;
	flex-direction: column;
}

.header-title h1 {
	font-size: 1.5rem;
	margin: 0;
	color: #ffffff;
}

.header-title p {
	font-size: 1rem;
	margin: 0;
	color: #ffffff;
}

.header-item {
	display: flex;
	align-items: center; /* Centers items vertically */
	/* margin-right: 10vw; */
}

.header-button {
	/* padding: 10px 15px; */
	/* margin-left: 10px; */
	/* margin-top: 10px; */
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.header-button:hover {
	background-color: #0056b3;
}
