@import url('../maincssroot.css');

.main-header {
	margin: 0;
	padding: 1vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #005289;
	gap: 1vh;
	flex-wrap: wrap;
	height: var(--maingrid_header_height);
	min-height: var(--maingrid_header_height);
	max-height: var(--maingrid_header_height);
	background-size: 100%;
    background-image: url('../img/bg_vector.jpg');
}

.header-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header-logo img {
	height: 10vh;
	flex-direction: row;
	justify-content: left;
}

.header-title {
	padding: 1vw;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.header-title h1 {
	padding: 1vw;
	font-size: 3vh;
	margin: 0;
	color: #ffffff;
}

.header-item {
	display: flex;
	align-items: center;
}

.header-button {
	padding: 2vw;
	border: none;
	border-radius: 0.5vh;
	background-color: #007bff;
	color: white;
	font-size: 2vh;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.header-buttons {
    display: flex;
    gap: 1vh;
    margin-left: 1vh;
}

.header-button:hover {
	background-color: #0056b3;
}
