/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full page height and flex centering */
body {
  font-family: 'Arial', sans-serif;
  background-color: #073916;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container {
  background-color: #120202;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; /* Adjust as needed */
  text-align: center;
}

h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

label {
  margin-bottom: 8px;
  color: #555;
}

input,
button {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: calc(100% - 22px); /* Adjust width to fit container */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
