.profile_container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 85vh;
  padding: 20px;
  background-color: #ffffff;
  background-image: url('../img/bg_vector_bg.jpg');
  background-size: cover;
}

.profile_header {
  height: 5vh;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);
  color: #000000; /* Set to black */
  margin-top: 10px;
  font-size: 1rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.profile_header h1 {
  color:#222;
}

.profile_header span.username { /* Added for username styling */
  color: #000000; /* Set to black */
}

.profile_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile_section {
  background-color: rgba(239, 239, 239, 0.5); /* 50% transparency */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile_section p {
  font-size: 1rem;
  color: #070000;
  margin-bottom: 10px;
}

.profile_section h2 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 10px;
}

.profile_section h3 {
  font-size: 1.2rem;
  color: #666;
}

.friend_item {
  display: flex;
  align-items: center;
}

.status_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ccc;
}

.status_circle.online {
  background-color: #00ff00;
}

.status_circle.offline {
  background-color: #ff0000;
}

.profile_game_history h1, .profile_game_history h2, .profile_game_history h3, .profile_game_history h4, .profile_game_history h5, .profile_game_history h6 {
  color: #222;
}
