.profile_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-color: rgb(248, 135, 229);

    }
    
    .profile_header, .profile_games_history, .profile_achievments {
        width: 100%;
        height: 100%;
    }
    .profile_header { grid-area: 1 / 1 / 2 / 5; 
        background-color: rgb(1, 57, 1);
        /* WIDTH */
        min-width: 100vw;
        max-width: 100vw;
        /* HEIGHT */
        min-height: 10vh;
        max-height: 15vh;}
    .profile_games_history { grid-area: 2 / 1 / 3 / 2; 
        grid-area: 2 / 2 / 3 / 3;
        background-color: rgb(68, 2, 2);
        /* WIDTH */
        min-width: 25vw;
        max-width: 25vw;
        /* HEIGHT */
        min-height: 70vh;
        max-height: 85vh;}
    .profile_acheivements { grid-area: 2 / 2 / 3 / 3;
        grid-area: 2 / 2 / 3 / 3;
        background-color: rgb(68, 2, 2);
        /* WIDTH */
        min-width: 25vw;
        max-width: 25vw;
        /* HEIGHT */
        min-height: 70vh;
        max-height: 85vh;}
    .profile_friends { grid-area: 2 / 3 / 3 / 4; 
        grid-area: 2 / 2 / 3 / 3;
        background-color: rgb(8, 138, 15);
        /* WIDTH */
        min-width: 25vw;
        max-width: 25vw;
        /* HEIGHT */
        min-height: 70vh;
        max-height: 85vh;}
 