@import url('../maincssroot.css');

:root {
	--pongbg: #ff0000;
	--ponginner: #ffe600;
	--pongtext: #15ff00;
	--pongextra: #1900ff;
}

.pong-container {
	height: var(--maingrid_content_height);
	min-height: var(--maingrid_content_height);
	max-height: var(--maingrid_content_height);
	width: var(--maingrid_content_width);
	min-width: var(--maingrid_content_width);
	max-width: var(--maingrid_content_width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--pongbg);
	font-family: Arial, sans-serif;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pong-container p, h1, h2, h3, h4, h5, h6 {
	color: var(--pongtext);
	font-size: 2vh;
}

.pong-info, .pong-waiting {
	background-color: var(--ponginner);
	padding: 2vh;
	border-radius: 5%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.pong-info h6, .pong-waiting h6 {
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

.pong-info button, .pong-waiting button {
	min-height: 8vh;
	height: 8vh;
	max-height: 8vh;
	font-size: 6vh;
}

.pong-info select, option {
	min-height: 6vh;
	height: 6vh;
	max-height: 6vh;
	font-size: 5vh;
}

.pong-game {
	/* background-color: var(--ponginner); */
	border-radius: 5%;
	overflow: hidden;
}

.pong-container button {
	background-color: var(--pongtext);
	border: none;
	border-radius: 5%;
	color: var(--ponginner);
	cursor: pointer;
	padding: 0.75vh 3vw;
	transition: background-color 0.3s ease;
}

.pong-container button:hover {
	background-color: var(--pongbg);
}

.pong-game canvas {
	width: 100%;
	object-fit: contain;
	min-width: 80px;
	min-height: 50px;
}

.pong-game .player-score {
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-score h6 {
	font-size: 4vh;
	margin: 0 2vw;
}

.pong-game .player-score {
	max-height: 8vh;
}

.pong-game canvas {
	max-height: 70vh;
}

.pong-game .button {
	min-height: 10vh;
	height: 10vh;
	max-height: 10vh;
	font-size: 8vh;
}

.pong-game button:hover {
	background-color: var(--ponginner);
	color: var(--pongbg);
}

.pong-game .below-canvas {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.p1-arrow h6, .p2-arrow h6{
	font-size: 8vh;
}
