.modal-overlay, .modal-content {
	width: 50vw;
	min-width: 50vw;
	max-width: 50vw;
	height: 50vh;
	min-height: 50vh;
	max-height: 50vh;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: white;
	padding: 2.4vh 4vw;
	border-radius: 0.8vw;
	box-shadow: 0 0.8vh 1.5vh rgba(0, 0, 0, 0.3);
	text-align: center;
}

.modal-content h4 {
	margin-bottom: 0.7vh;
	color: black;
	font-size: 16vh;
}

.modal-content p {
	margin-bottom: 1.2vh;
	color: black;
	font-size: 14vh;
}

.modal-content button {
	padding: 1.6vh 3vw;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 0.5vw;
	cursor: pointer;
	font-size: 12vh;
}

.modal-content button:hover {
	background-color: #0056b3;
}
