.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal-content {
	width: 40vw;
	min-width: 40vw;
	max-width: 40vw;
	height: 40vh;
	min-height: 40vh;
	max-height: 40vh;
	background-color: rgba(255, 255, 255, 1);
	padding: 2.4vh 4vw;
	border-radius: 0.8vw;
	box-shadow: 0 0.8vh 1.5vh rgba(0, 0, 0, 0.3);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-content h4 {
	margin-bottom: 1vh;
	color: black;
	font-size: 7vh;
}

.modal-content p {
	margin-bottom: 0.5vh;
	color: black;
	font-size: 5vh;
}

.modal-content button {
	padding: 1.6vh 3vw;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 0.5vw;
	cursor: pointer;
	font-size: 4vh;
}

.modal-content button:hover {
	background-color: #0056b3;
}
