@import url('../maincssroot.css');

.pong-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: var(--maingrid_content_height);
	min-height: var(--maingrid_content_height);
	max-height: var(--maingrid_content_height);
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	background-size: 100%;
    background-image: url('../img/bg_vector_bg.jpg');
}

.pong-card {
	background-color: white;
	/* border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 2rem; */
	text-align: center;
	/* max-width: 400px; */
	width: 100%;
	height: 100%;
}

.pong-container h1 {
	color: #333;
}

.pong-container h2 {
	color: #333;
	margin-bottom: 1rem;
}

.pong-container h3 {
	color: #333;
	margin-bottom: 0.5rem;
}


.pong-container p {
	color: #666;
	/* margin-bottom: 1rem; */
}

.pong-container h6 {
	color: lightsalmon;
	font-size: 0.8rem;
}

.pong-container button {
	background-color: #4CAF50;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	transition: background-color 0.3s ease;
}

.join-queue-btn:hover {
	background-color: #45a049;
}

.join-queue-btn:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

.leave-queue-btn, .leave-game-btn {
	background-color: #f44336;
}

.leave-queue-btn:hover, .leave-game-btn:hover{
	background-color: #da190b;
}

.game-info {
	background-color: #e7f3fe;
	/* border-radius: 4px; */
	/* padding: 1rem; */
	/* margin-top: 1rem; */
}

.game-info p {
	/* margin: 0.5rem 0; */
}
