@import url('../maincssroot.css');

.pong-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: var(--maingrid_content_height);
	min-height: var(--maingrid_content_height);
	max-height: var(--maingrid_content_height);
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pong-container h1 {
	color: #333;
}

.pong-container h2 {
	color: #333;
	margin-bottom: 1rem;
}

.pong-container h3 {
	color: #333;
	margin-bottom: 0.5rem;
}


.pong-container p {
	color: #666;
	/* margin-bottom: 1rem; */
}

.pong-container h6 {
	color: lightsalmon;
	font-size: 0.8rem;
}

.pong-container button {
	background-color: #4CAF50;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	transition: background-color 0.3s ease;
}

.pong-container button {
	background-color: #45a049;
}

.pong-container button:hover {
	background-color: #f44336;
}

.pong-container button:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

.game-screen {
	background-color: #e7f3fe;
	height: var(--maingrid_content_height);
	min-height: var(--maingrid_content_height);
	max-height: var(--maingrid_content_height);
	width: var(--maingrid_content_width);
	min-width: var(--maingrid_content_width);
	max-width: var(--maingrid_content_width);
}

.game-screen canvas {
	width: 100%;
	object-fit: contain;
	min-width: 80px;
	min-height: 50px;
	max-height: 75vh;
}

.game-screen .player-score {
	display: flex;
	justify-content: space-between;	
}

.player-score h6 {
	color: purple;
	font-size: 3vh;
}
